{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 lh-lg">
            <h1 class="text-info">PITCHES</h1>
            <h5 class="fw-bolder">What would you do if you only had one minute to impress someone?</h5>
            <p>This may seem as an easy task but having a minute(60 sec) to impress someone can be a challenging task.</p>
            <p>This may vary depending on the situation and the person you mean to impress.</p>
            <h6>Having this into thought, You don't need to worry no more, you know why?</h6>
            <h5>BECAUSE WE GOT YOU <span>&#128074;&#127997;</span></h5>
        </div>
        <div class="col-md-6">
            <img src="../static/images/wall.jpg" alt="" height="350px" width="350px">
        </div>
    </div>
</div>

{% endblock %}